/* div[aria-labelledby="mui-p-50099-T-2"]#mui-p-50099-P-2 .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root{
border-radius: 40px;
} */
/* div[aria-labelledby="mui-p-50099-T-2"]#mui-p-50099-P-2 .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    
    -webkit-transform: translate(14px, 8px) scale(1);
    -moz-transform: translate(14px, 8px) scale(1);
    -ms-transform: translate(14px, 8px) scale(1);
    transform: translate(14px, 8px) scale(1);
} */
.auto-complete .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 40px;
  height: 38px;
}
.auto-complete .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  -webkit-transform: translate(14px, 8px) scale(1);
  -moz-transform: translate(14px, 8px) scale(1);
  -ms-transform: translate(14px, 8px) scale(1);
  transform: translate(14px, 8px) scale(1);
}
.auto-complete .MuiAutocomplete-input {
  padding: 1.5px 4px 7.5px 5px !important;
}
